<div class="mine-fiche" *ngIf="mine">
	<div class="mine-info">
		<div style="vertical-align: middle;">
			<span class="fiche-title">{{mine.nom}}</span> <a target="_blank"
				href="https://www.google.com/maps/place/{{mine.gps}}"> <img
				class="icon-map" src="../assets/images/icon-map.jpg" /></a>
				<button (click)=downloadData()>Télécharger en vue d'une visite</button>
		</div>
	</div>

	<div class="bassin-list">
		<div class="bassin-title">Liste des bassins</div>
		<div class="bassin-item-list">
			<div class="bassin-item" *ngFor="let b of mine.bassins"
				(click)="displayBassin(b)">
				<div>{{b.nom}}</div>
				<div>
					<a target="_blank"
						href="https://www.google.com/maps/place/{{b.gps}}">Postion
						Google map</a>
				</div>
				<div>Volume objectif : {{b.volumeObjectif}}</div>
				<div>Volume réel : {{b.volumeReel}}</div>
			</div>
		</div>

	</div>
</div>

